.font-1-xxl {
  /* font-weight: 600;
    line-height: 1.125;
    font-size: 4rem;
    font-family: "Poppins", sans-serif; */
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

/* NAVEGAÇÃO */
/* CONTEÚDO CONTEXTO */
/* CONTATO FOOTER */
/* DIREITOS RESERVADOS */
/* DATA/HORA EVENTOS        */
.font-4-1-15-r {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}
/* TITULO   */
.font-6-3-1125-p {
  font: 600 3rem/1.125 "Playfair Display", serif;
}
/* SUB-TITULO */
.font-5-15-15-p {
  font: 500 1.5rem/1.5 "Playfair Display", serif;
}
/* TITULO CONTEXTO */
.font-6-22-12-p {
  font: 600 2.2rem/1.2 "Playfair Display", serif;
}
/* SUBTITULO CONTEÚDO CONTEXTO */
.font-6-2-125-p {
  font: 600 2rem/1.25 "Playfair Display", serif;
}
/* COMENTÁRIOS */
/* NOME CLIENTE */
.font-4-075-167-m {
  font: 400 0.75rem/1.67 "Merriweather", serif;
}
.font-4-1-15-m {
  font: 400 1rem/1.5 "Merriweather", serif;
}

/* TITULO CONTATO/INFORMAÇÃO FOOTER */
/* TITULO CONTATO/INFORMAÇÃO CONTATO */
.font-5-15-133-r {
  font: 500 1.5rem/1.33 "Roboto", sans-serif;
}
.font-5-1-133-r {
  font: 500 1rem/1.5 "Roboto", sans-serif;
}

/* COMENTÁRIOS EVENTOS */
.font-4-15-15-m {
  font: 400 1.5rem/1.33 "Merriweather", serif;
}

/* COMENTÁRIOS HISTÓRIA */
.font-4-15-167-p {
  font: 400 1.5rem/1.67 "Playfair Display", serif;
}

/* TITULO CARDÁPIO */
.font-6-1-125-r {
  font: 700 1rem/1.25 "Roboto", sans-serif;
}

/* CONTEÚDO CARDÁPIO */
.font-4-1-125-r {
  font: 400 1rem/1.25 "Roboto", sans-serif;
}

@media (max-width: 1200px) {
  .font-6-3-1125-p {
    font: 600 2.5rem/1.125 "Playfair Display", serif;
  }
  .font-5-15-15-p {
    font: 500 1.2rem/1.5 "Playfair Display", serif;
  }
}

@media (max-width: 1000px) {
  .font-6-3-1125-p {
    font: 600 2rem/1.125 "Playfair Display", serif;
  }
  .font-5-15-15-p {
    font: 500 1rem/1.5 "Playfair Display", serif;
  }

  .font-6-2-125-p {
    font: 600 1.5rem/1.25 "Playfair Display", serif;
  }
  .font-4-15-15-m {
    font: 400 1rem/1.5 "Merriweather", serif;
  }
}

@media (max-width: 700px) {
  .font-6-22-12-p {
    font: 600 1.7rem/1.2 "Playfair Display", serif;
  }
  .font-4-1-15-r {
    font: 400 0.75rem/1.67 "Roboto", sans-serif;
  }
}
