* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

label {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
