.cardapio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--cor-m12);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  gap: 60px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.cardapio:nth-child(3) {
  margin-top: 60px;
}

.cardapio-img {
  height: 100%;
  object-fit: cover;
}

.cardapio-img img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cardapio-info-1 {
  padding: 32px 60px 32px 0px;
}
.cardapio-info-2 {
  padding: 32px 0px 32px 60px;
}

.cardapio-subtitulo {
  padding-top: 20px;
}

.cardapio-titulo-menu {
  padding-top: 20px;
  display: block;
}

.caradapio-lista li {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  width: 100%;
}

@media (max-width: 800px) {
  .cardapio {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 60px;
    box-shadow: inset 0 120px var(--branco);
    padding-right: 60px;
  }
  .cardapio-info-1 {
    padding: 0px 32px 32px 32px;
  }
  .cardapio-info-2 {
    padding: 0px 32px 32px 32px;
    grid-row: 3;
  }

  .cardapio-img {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .cardapio {
    padding-left: 12px;
    padding-right: 12px;
  }
  .cardapio .font-6-3-1125-p {
    font: 600 1.5rem/1.125 "Playfair Display", serif;
  }
  .font-6-2-125-p {
    font: 600 1rem/1.25 "Playfair Display", serif;
  }
}
