.footer-bg {
  background: var(--cor-m13);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-logo .menu-imgLogo {
  width: 230px;
  background-color: transparent;
  border: none;
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.footer-titulo {
  padding-bottom: 20px;
}

.footer-redes {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.footer-direitos {
  grid-column: 1/-1;
  padding: 60px 0 0 20px;
}

.footer-linha::before {
  display: block;
  content: "";
  width: 240px;
  height: 1px;
  background: var(--cor-m12);
  margin: 20px 0px 20px 0px;
}

.footer-info a:hover,
.footer-contato a:hover {
  color: var(--cor-m1);
}

@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-logo .menu-imgLogo {
    display: none;
  }
  .footer-contato {
    grid-column: 1;
  }

  .footer-linha::before {
    width: 200px;
    margin: 20px 10px 20px 0;
  }
}
@media (max-width: 400px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-redes {
    margin-bottom: 40px;
  }
}
